body{
    margin: 0;
    padding: 0;
}
nav{
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(24, 14, 33);
    display: flex;
    justify-content: center;
}
li{
    color: aliceblue;
    list-style-type: none;
    padding: 2vh;
    margin: 1vh 5vh;
}
footer{
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(24, 14, 33);
    position: absolute;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
}